<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="Frequency" value="90"/>
		<add key="Period" value="minutes"/>
		<add key="FirstWarningDelay" value="1490000"/>
		<add key="FirstWarningMessage" value="Server is Restarting in 30 minutes..."/>
		<add key="SecondWarningDelay" value="290000"/>
		<add key="SecondWarningMessage" value="Server is Restarting in 5 minutes..."/>
		<add key="ThirdWarningDelay" value="10000"/>
		<add key="ThirdWarningMessage" value="Server is Restarting in 10 seconds... GIVE ATLEAST 2 MINUTES TILL REJOIN!!!"/>
	</appSettings>
</configuration>